<%- include("partials/header.ejs") %>
<!-- The main body of the page-->
<div id="mainDiv">
  <section class="heroBackground">
    <div class="container hero">
      <div class="leftHero">
        <h3 id="heroTag">Storage and Spaces <br> Tailored to Embrace Your Needs! </h3>
        <ul class="heroList">
          <li class="herolistitem"><span class="listBullet">-</span> Bespoke Storage</li>
          <li class="herolistitem"><span class="listBullet">-</span> Flexible Business space</li>
          <li class="herolistitem"><span class="listBullet">-</span> Property Development</li>
          <li class="herolistitem"><span class="listBullet">-</span> Residential Leasing</li>
          <li class="herolistitem"><button class="btn btn-success" onclick="showContactModal()">CONTACT US</button></li>
        </ul>
      </div>
      <div class="rightHero">
        <img src="images/shudev.png" alt="" width="100%" class = "rightLOGO">
      </div>
    </div>
  </section>
  <section id="container mainContent">
    <div class=" container contentSection">
      <div>
        <h6>Introducing SHU Developments: Your Premier Destination for Storage and Business Spaces in Cupar, Fife!</h6>
      <p>Unlock the potential of your business with SHU Developments. We are your ultimate solution for bespoke commercial and domestic container storage, as well as flexible business spaces in the vibrant city of Cupar, Fife.</p>
      </div>
      <div class="photosection justify-content-end">
        <div class="contentPhoto">
          <img src="images/logoimage.png" height="70px" alt="">
        </div>
      </div>
    </div>
    <div class=" container contentSection">
      <div class="photosection justify-content-start">
        <div class="contentPhoto">
          <img src="images/logoimage.png" height="70px" alt="">
        </div>
      </div>
      <div>
        <p>At SHU Developments, we understand that every business has unique storage and workspace needs. That's why we offer a wide range of options tailored to suit your specific requirements. From secure and reliable container storage facilities to flexible and modern business spaces, we have it all.</p>
      </div>
    </div>
    



  </section>
</div>

<%- include("partials/footer.ejs") %>

