<%- include("partials/header.ejs") %>
<!-- The main body of the page-->
<div id="mainDiv">
  <section class="heroBackground">
    <div class="hero">
      <div id="heroImage" class="indexHero">
        
      </div>
      <div class="heroOverlay">
        <div class="leftHero">
        </div>
        <div class="heroLogo">
          <img src="images/Logo/Original.svg" alt="" width="100%" class = "rightLOGO">
        </div>
        <h1 id="heroTag">Storage and Spaces Tailored to Embrace Your Needs! </h1>
        <h1 id="caret"></h1>
      </div>
    </div>
  </section>
   
  <section id="about" class="contentSection">
    <div class="sectionHeader">
      <div class="sectionInner container">
        <h1 class="sectionTitle">About Us</h1>
      </div>
    </div>
    <div class="sectionBody container">
      <div class="BodyHeader">
        <h3 class="marginbottom">SHU Developments: Your Premier Destination for Storage and Business Spaces in Cupar, Fife!</h3>
      </div>
      <div class="bodyContent">
        <div class="blurbContainer">
          <p class="bodyBlurb">
            Unlock the potential of your business with SHU Developments. 
            We are your ultimate solution for bespoke commercial and 
            domestic container storage.
          </p>
        </div>

        <div class="imageCard">
          <div class="cardImageAbout1">

          </div>
          <div class="cardCaptionAbout">
            <div>
              Secure Storage and Yard: Cupar
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr class="aboutSeperator">
    <div class="sectionBody container">
      <h2 class="whyChoose">Why Choose SHU Developments:</h2>
      <div>
        <div class="benefitFlex">
          <div class="iconDiv">
            <p><i class="gg-lock icon"></i></p>
          </div>
          <div class="benefitText">
            <h5>Secure</h5>
            <p>All of our storage containers and yard areas are Flood-lit and covered by 24 hour CCTV. Protected by strong fencing with Lockable gates
            </p>
          </div>
        </div>
        <div class="benefitFlex">
          <div class="iconDiv">
            <p><i class="gg-arrange-front icon"></i></p>
          </div>
          <div class="benefitText">
            <h5>Flexible</h5>
            <p>'Midi' and 'Maxi' yards available. They can be used as Storage, Office Space, extended household garaging to name just a few of the uses our cutomers have utilised them for.
            </p>
          </div>
        </div>
        <div class="benefitFlex">
          <div class="iconDiv">
            <p><i class="gg-battery-full icon"></i></p>
          </div>
          <div class="benefitText">
            <h5>Convenient</h5>
            <p> All areas are equipped with power. Water and Toilets are provided on-site.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="aboutSeperator">
    <div class="sectionBody container">
      <p class="finalBlurb">
        At SHU Developments, 
        we understand that every business has unique storage and workspace needs. 
        That's why we offer a wide range of options tailored to suit your specific requirements. 
        From secure and reliable container storage facilities 
        to flexible and modern business spaces, <strong> we have it all.</strong>
      </p>
      <p class="finalBlurb">
        Experience the convenience and peace of mind that comes with our comprehensive storage
          and workspace solutions. 
          Our dedicated team of professionals is here to ensure your experience with us is
          seamless, from the moment you step through our doors.
      </p>
      <div class="calltoaction">
        <a href="/yards">Explore our Commercial Solutions ></a>
      </div>
    </div>
  </section>
  <section id="Services" class="contentSection">
    <div class="sectionHeader">
      <div class="sectionInner container">
        <h1 class="sectionTitle">Our Services</h1>
      </div>
    </div>
    <div class="sectionBody container">
      <h4>
        Landlords
      </h4>
      <h6 class="marginbottom">
        We provide a professional refurbishment service.   With a wealth of experience in project management and a team of professional tradespeople behind us, 
        we would be delighted to assist in whatever renovation project you need.
      </h6>
      
      <!-- <div id="PropertyCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div id="slide1" class="d-block w-100" alt="...">

            </div>
          </div>
          <div class="carousel-item">
            <div id="slide2" class="d-block w-100" alt="..."></div>
          </div>
          <div class="carousel-item">
            <div id="slide3" class="d-block w-100" alt="..."></div>
          </div>
        </div>
      </div> -->
      <div class="responsive carousel">
        <div >
          <img  height="300" class="slide" src="/images/tweed/29-tweed-crescent-after-back.jpg" alt="">
        </div>
        <div >
          <img class="slide" height="300"  src="/images/tweed/29-tweed-crescent-after-landing.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/tweed/29-tweed-crescent-after-bathroom.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/tweed/29-tweed-crescent-after-living-room-one.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/clepington/319-clepington-road-after-bathroom.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/clepington/319-clepington-road-after-bedroom-2.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/clepington/319-clepington-road-after-front.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/clepington/319-clepington-road-after-hall.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/clepington/319-clepington-road-after-kitchen.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/clepington/319-clepington-road-after-living-room.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/fintryside/fintryside-after-kitchen.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/fintryside/fintryside-after-bathroom.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/fintryside/fintryside-after-living room.jpg" alt="">
        </div>
        <div >
          <img  height="300" class="slide" src="/images/fintryside/fintryside-after-bedroom-2.jpg" alt="">
        </div>
       
      </div>
      <h4 class="margintop">Tenants</h4>
      <h6>
        we currently have 3 properties rented out.  We are hoping to add to our portfolio in the near future.  Check back with us to see what is available.
      </h6>
      <div class="calltoaction">
        <a href="/rentals">Explore our Property Services ></a>
      </div>
      <div class="bottomContent">

      </div>
    </div>
  </section>

</div>

<%- include("partials/footer.ejs") %>

