<%- include("partials/header.ejs") %>
<!-- The main body of the page-->
<div id="mainDiv">
    <section class="heroBackground propertyHeroBackground">
        <div class="hero">
            <div id="heroImage" class="propertyHero">
            
          </div>
          <div class="heroOverlay propertyHeroOverlay">
  
            <h1 id="heroTag">PROPERTY REFURBISHMENTS & LETTINGS</h1>
            
          </div>
        </div>
    </section>
    
    <section id="facilities" class="contentSection">
        <div class="sectionHeader">
          <div class="sectionInner container">
            <h1 class="sectionTitle">Property Refurbishments</h1>
          </div>
        </div>
        <div class="sectionBody container">
          <h3>
            SHU Developments' commitment to excellence extends beyond providing top-quality properties. 
            As a private landlord, we take pride in offering clean, modern, 
            and refurbished spaces that are designed to meet the highest standards. 
            And we can do the same for your property.
          </h3>
          <h3>
           We have a dedicated team of tradesmen and the project management experience to tackle any refurbishment task required.
          </h3>
          <h3>
                Contact us at your convenience for a consultation.
          </h3>
          <div class="pricing">
            <a class="benefitFlex property" href="tel:+447877207225">
              <div class="iconDiv property">
                <p><i class="gg-phone icon"></i></p>
              </div>
              <div class="benefitText">
                <h3 style="width: auto;">07877207225</h3>
              </div>
            </a>
          </div>
        </div>
    </section>

    <section id="properties" class="contentSection">
      <div class="sectionHeader">
        <div class="sectionInner container">
          <h1 class="sectionTitle">Rental Properties</h1>
        </div>
      </div>
      <div class="sectionBody container marginbottom">
        <h3>
          SHU Developments' has 3 properties allocated for private residential tenants.  Unfortunately they are all currently occupied.  Please check back later for details of any upcoming vacant properties.
        </h3>
      </div>
    </section>
  </div>

<%- include("partials/footer.ejs") %>

