<%- include("partials/header.ejs") %>
<div id="mainDiv">
  <section class="heroBackground yardHeroBackground">
      <div class="hero">
          <div id="heroImage" class="yardHero">
          
        </div>
        <div class="heroOverlay yardHeroOverlay">

          <h1 id="heroTag">YARD AND STORAGE SOLUTIONS</h1>
          <p> </p>
          <p> </p>
          <div class="towerViewBackground">
            <img width="100%" src="/images/Logo/towerview.png" alt="towerview">
          </div>
        </div>
      </div>
  </section>
  
  <section id="facilities" class="contentSection">
      <div class="sectionHeader">
        <div class="sectionInner container">
          <h1 class="sectionTitle">Facilities</h1>
        </div>
      </div>
      <div class="sectionBody container">
        <h3>
          Shu Developments' facility at Towerview industrial park offers a wide range of options tailored to suit your specific requirements. 
          From secure and reliable container storage facilities to flexible and modern business spaces.
        </h3>
        <h3>
          Facility Amenities include: Containers, Canopies, Lockable gates, CCTV, Floodlighting, Power and Toilets
        </h3>
        <div class="pricing">
          <div class="benefitFlex">
            <div class="iconDiv">
              <p><i class="gg-calculator icon"></i></p>
            </div>
            <div class="benefitText">
              <h3>Pricing starts at £3.50 per ft<sup>2</sup>.</h3>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id="yards" class="contentSection">
    <div class="sectionHeader">
      <div class="sectionInner container">
        <h1 class="sectionTitle">Our Yards</h1>
      </div>
    </div>
    <div class="sectionBody container">
      <div class="yardList">
        <div class="yardcard">
          <div class="yardimage">
            <div class="YardCardimage" style="background-image: url('./images/yard/yard1.jpg');">
            <div class="YardCardImageOverlay occupied">
              <span class="available"></span>
            </div>
            </div>
          </div>
          <div class="Yard-details">
            <h3 class="cardContentTitle">Yard 1</h3>
            <ul class="cardContentList">
              <li>2600 ft<sup>2</sup></li>
              <li>1 40' Container</li>
              <li>1 20' Container</li>
              <li>1 Canopy</li>
              <li>1 Office</li>
            </ul>
          </div>
        </div>
        <div class="yardcard">
          <div class="yardimage">
            <div class="YardCardimage" style="background-image: url('./images/yard/yard4.jpg');">
            <div class="YardCardImageOverlay occupied">
              <span class="available"></span>
            </div>
            </div>
          </div>
          <div class="Yard-details">
            <h3 class="cardContentTitle">Yard 2</h3>
            <ul class="cardContentList">
              <li>2300 ft<sup>2</sup></li>
              <li>2 20' Containers</li>
              <li>1 Canopy</li>
              <li>1 Office</li>
            </ul>
          </div>
        </div>
        <div class="yardcard">
          <div class="yardimage">
            <div class="YardCardimage" style="background-image: url('./images/yard/yard3b.jpg');">
            <div class="YardCardImageOverlay available">
              <span class="available"></span>
            </div>
            </div>
          </div>
          <div class="Yard-details">
            <h3 class="cardContentTitle">Yard 3</h3>
            <ul class="cardContentList">
              <li>3000 ft<sup>2</sup></li>
              <li>3 Containers</li>
              <li>2 Canopys</li>
            </ul>
          </div>
        </div>
        <div class="yardcard">
          <div class="yardimage">
            <div class="YardCardimage" style="background-image: url('./images/yard/yard2.jpg');">
            <div class="YardCardImageOverlay occupied">
              <span class=""></span>
            </div>
            </div>
          </div>
          <div class="Yard-details">
            <h3 class="cardContentTitle">Yard 4a</h3>
            <ul class="cardContentList">
              <li>1350 ft<sup>2</sup></li>
              <li>2 20' Container</li>
              <li>1/2 Canopy</li>
            </ul>
          </div>
        </div>
        <div class="yardcard">
          <div class="yardimage">
            <div class="YardCardimage" style="background-image: url('./images/yard/yard2.jpg');">
            <div class="YardCardImageOverlay occupied">
              <span class="available"></span>
            </div>
            </div>
          </div>
          <div class="Yard-details">
            <h3 class="cardContentTitle">Yard 4b</h3>
            <ul class="cardContentList">
              <li>950 ft<sup>2</sup></li>
              <li>1 Container</li>
              <li>1/2 Canopy</li>
            </ul>
          </div>
        </div>
        <div class="yardcard">
          <div class="yardimage">
            <div class="YardCardimage" style="background-image: url('./images/yard/yard5a.jpg');">
            <div class="YardCardImageOverlay available">
              <span class="available"></span>
            </div>
            </div>
          </div>
          <div class="Yard-details">
            <h3 class="cardContentTitle">Yard 5a</h3>
            <ul class="cardContentList">
              <li>950 ft<sup>2</sup></li>
              <li>1 20' Container</li>
              <li>1/2 Canopy</li>
            </ul>
          </div>
        </div>
        <div class="yardcard">
          <div class="yardimage">
            <div class="YardCardimage" style="background-image: url('./images/yard/yard5b2.jpg');">
            <div class="YardCardImageOverlay available">
              <span class="available"></span>
            </div>
            </div>
          </div>
          <div class="Yard-details">
            <h3 class="cardContentTitle">Yard 5b</h3>
            <ul class="cardContentList">
              <li>950 ft<sup>2</sup></li>
              <li>1 20' Container</li>
              <li>1/2 Canopy</li>
            </ul>
          </div>
        </div>
        <div class="yardcard">
          <div class="yardimage">
            <div class="YardCardimage" style="background-image: url('./images/yard/yard2.jpg');">
            <div class="YardCardImageOverlay occupied">
              <span class="available"></span>
            </div>
            </div>
          </div>
          <div class="Yard-details">
            <h3 class="cardContentTitle">Yard 6</h3>
            <ul class="cardContentList">
              <li>1950 ft<sup>2</sup></li>
              <li>2 20' Container</li>
              <li>1 Canopy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottomContent">
      
    </div>
  </section>
  
</div>
<%- include("partials/footer.ejs") %>