.heroBackground.propertyHeroBackground {
    height: 50vh;
}

#heroImage.propertyHero {
    background-image: url("../images/propertyhero.webp");
    height: 50%;

}

.heroOverlay.propertyHeroOverlay {
    height: 100%;
}