
:root {
    --mainColor: #f2c445;
    --white: #ffffff;
    --shuGreen: #5ac659;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  margin-right: 5px;
}

html {
    scroll-behavior: smooth;
  }


body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#mainNav {
    /* background-color: var(--mainColor); */
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: all 0.2s;
}

#mainNav.fade-in{
    background-color: #ffffff;
    box-shadow: 0 2px 6px -2px #59C65B;
}

.rightnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navItem {
    text-decoration: none;
    color: black;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
    font-size: 1.2rem;
    padding: 10px;
    
    /* border-bottom: 2px solid var(--shuGreen);
    padding: 0.4rem 0.75rem;
    
    border-radius: 10%; */
    transition: all 0.1s ease;
    font-weight:bold ;
    
}

.navItem:hover {

    /* border-bottom: 2px solid white;
    background: var(--shuGreen); */
    color: var(--shuGreen);
}

.btn-success, .btn-success:active, .btn-success:visited {
    background-color: var(--shuGreen) !important;
    border-color: var(--shuGreen);
    font-weight: 600;
}

.navbar-collapse.collapse.show, .navbar-collapse.collapsing{
    background-color: white;
}

#navbarSupportedContent {
    justify-content: flex-end;
}

/* hero section */
.heroBackground{
    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}
.hero {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    display: flex;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#heroImage {

    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 30%;
    z-index: -10;
    position: fixed;

}

#heroImage.indexHero {
    background-image: url("/images/Hero Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#caret {
    background-image: url('../images/layout-helpers/caret.svg');
    width: 100%;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: flex-end;
}

.heroOverlay {
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translateY(-10%); */
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;


}

.heroLogo {
    max-width: 80%;
    min-width: 360px;
}
#heroTag {
padding: 10px;
    
    text-align: center;
}

.herolistitem {
    font-size: 2rem;
    font-weight: 800;
}

.heroButton {
    width: 100%;
    height: 90px;
    font-size: 50px;
    color: black;
}


/* About Section */

.contentSection {
    height: fit-content;
    padding-bottom: 20px;
    background-color: white;
}

.sectionHeader {
    color: var(--shuGreen);
    background-color: white;
    height: 80px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    font-weight: 800;
    /* opacity: 70%; */
    /* box-shadow: 0px 2px 4px -2px var(--shuGreen); */
}

.sectionTitle {
    font-weight: 800;
}

.BodyHeader {
    margin-top: 20px;
}
.bodyContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.row-reverse{
    flex-direction: row-reverse;
}
.sectionBody {
    margin-top: 20px;
}

.blurbContainer, .detailContainer{
    position: relative;
    width: 50%;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    background-repeat: no-repeat;
    color: white;

}
.blurbContainer::before, .detailContainer::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-image: url("../images/layout-helpers/scribble.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(10deg);
}

.detailContainer::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-image: url("../images/layout-helpers/scribble.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(10deg);
    transform: rotate(-10deg);
}


.bodyBlurb {width: 60%;
font-size: 1.2em;
z-index: 2;}

.imageCard {
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px;
    height: fit-content;
    /* background-color: grey; */
    overflow: hidden;
    border: 1px solid var(--shuGreen);
    box-shadow: 1px 2px 4px -2px var(--shuGreen);
    align-self: center;
    z-index: 3;
}

.cardImageAbout1{
    background-image: url('../images/yard/yard5.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.cardImageAbout2{
    background-image: url('../images/storageProf2.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.cardCaptionAbout{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}
@media only screen and  (max-width: 1000px) {
    .blurbContainer, .detailContainer{
        width: 100%;
        height: 350px;
        font-size: 1.2em;
        overflow: hidden;
        
        


    }
    .blurbContainer::before {
        background-size: 80%;
        transform: rotate(0deg);
        
    }
    .bodyBlurb {
        width: 70%;
    }
    .bodyContent{

        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .imageCard {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 770px){
    .blurbContainer, .detailContainer{
        font-size: 1.2em;
        background-size: 660px;
        position: -100px;
    }
    .blurbContainer::before {
        background-size: 90%;
        transform: rotate(0deg);
        
    }
}


@media only screen and (max-width: 600px){
    .blurbContainer, .detailContainer{
        font-size: 1.2em;
    }
}

/* hero responsive code */


@media screen and (max-width: 450px) and (max-height: 950px){
    .heroLogo {
        max-width: 50%;
        min-width: 250px;
    }
    #heroTag {
    padding: 10px;
        font-weight: 500;
        font-size: 2em;
        text-align: center;
    }
    
    .herolistitem {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .heroButton {
        width: 100%;
        height: 30px;
        font-size: 15px;
        color: black;
    }
}

@media screen  and (max-height: 950px){
    .heroLogo {
        max-width: 50%;
        min-width: 250px;
    }
    #heroTag {
    padding: 10px;
        font-weight: 500;
        font-size: 2em;
        text-align: center;
    }
    
    .herolistitem {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .heroButton {
        width: 100%;
        height: 30px;
        font-size: 15px;
        color: black;
    }
}

@media screen and (max-height: 601px){
    .heroLogo {
        max-width: 50%;
    }
    #heroTag {
    padding: 10px;
        font-weight: 500;
        font-size: 2em;
        text-align: center;
    }
    
    .herolistitem {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .heroButton {
        width: 100%;
        height: 30px;
        font-size: 13px;
        color: black;
    }
}

@media screen and (max-height: 380px){
    .heroLogo {
        display: none;
    }
    #heroTag {
    padding: 10px;
        font-weight: 500;
        font-size: 2em;
        text-align: center;
    }
    
    .herolistitem {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .heroButton {
        width: 100%;
        height: 30px;
        font-size: 13px;
        color: black;
    }
}

.aboutSeperator
{
    
    width: 90%;
    border:none;

      height: 50px;
      margin-top: 0;
    box-shadow: 0px 20px 20px -20px 
        var(--shuGreen);
        margin: 20px auto 50px; 
}

.benefitFlex {
    display: flex;
    flex-direction: row;

}

.benefitText{

}

.iconDiv{
    display: flex;
    width: 60px;
    min-width: 60px;
    justify-content: flex-start;
    align-items: center;
}

.icon {transform: scale(1.5);
    margin-left: 10px;
        color: var(--shuGreen);
    }

.calltoaction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.calltoaction a {
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid var(--shuGreen);
    color: var(--shuGreen);
    background-color: white;
    border-radius: 5px;
    font-size: 1.5em;
    box-shadow: 1px 2px 5px -3px var(--shuGreen);

}
.finalBlurb {
    font-size: 1.1em;
   }
.whyChoose{margin-bottom: 20px;}

@media only screen and (min-width: 1000px){
   .finalBlurb {
    font-size: 1.4em;
   }
   .benefitText {
    font-size: 1.2rem;
   }
   .benefitText h5 {
    font-size: 1.4em;
   }
   .whyChoose {
    font-size:2.5em;
   }
}








/* Footer */
.footerDiv {
    width: 100%;
    height: fit-content;
    background-color: var(--shuGreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px 10px 10px;
    color: white;
}
.footerContent{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}
.footerSection {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bottomlink{
    text-decoration: none;
    color: white;
}

.border-right {

    width: 50%;
}
.Footerend {
    align-self: flex-end;
}

.footerSeparator {
    color: grey;
    width: 70%;
}


